html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-top: 3.5rem;
  margin-bottom: 60px;
}

img {
  max-width: 80%;
}

.main-content {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

 ::selection {
  background-color: #FF0000;
} 

#nav {
  color: #fff;
  background-color: #BF0000;
}

.col-lg-4 {
  margin-bottom: 3.5rem;
}

a {
  color: #CF4040;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  color: #BF0000;
  font-weight: 700;
  text-decoration: none;
}

ul {
  list-style: none;
}

.potd {
  font-size: 2em;
  line-height: 1.25;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  color: rgba(255,255,255,.5);
  background-color: #BF0000;
}

footer > div > a {
  color: rgba(255,255,255,.5);
}

footer > div > a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}